@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Italic.eot');
    src: url('FactorA-Italic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Black.eot');
    src: url('FactorA-Black.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-BoldItalic.eot');
    src: url('FactorA-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-MediumItalic.eot');
    src: url('FactorA-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Bold.eot');
    src: url('FactorA-Bold.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Light.eot');
    src: url('FactorA-Light.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Regular.eot');
    src: url('FactorA-Regular.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-BlackItalic.eot');
    src: url('FactorA-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Medium.eot');
    src: url('FactorA-Medium.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-LightItalic.eot');
    src: url('FactorA-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-Extrabold.eot');
    src: url('FactorA-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('FactorA-Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Factor A';
    src: url('FactorA-ExtraboldItalic.eot');
    src: url('FactorA-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('FactorA-ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

